.board {
    width: 480px;
    height: 480px;
}

.cellsContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gameTopBar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gameTopItemLeft {
    display: flex;
    flex: 1;
    height: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.gameTopItemRight {
    display: flex;
    flex: 1;
    height: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 14px;
    color: #000;
}


.cellAvailable {
    width: 37px;
    height: 35px;
    border: 1px solid #fff;
    margin-top: 1px;
}

.cellUnavailable {
    width: 37px;
    height: 35px;
    border: 1px solid #000;
    margin-top: 1px;
    background-color: #000;
}

.node-finish {
    background-color: red;
}

.node-start {
    background-color: green;
}
